

.recuperar{ 
    width: 400px;
    background: #f6f6f6;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 3px;
    font-family: 'arial';
    color: #083358;
    font-size: 18px;
    box-shadow: 7px 13px 37px #808080;
}
.recuperar h1{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center; 
}
.recuperar h2{
    font-size:  18px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
.datos3{
    width: 100%;
    background: #f6f6f6;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #0f4471;
    font-family: 'arial';
}
.link{
    display: flex;
    justify-content: space-between;
}
.salir{
    text-decoration: none;
    background: #0f4471;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-size: 16px;
    font-family: 'arial';
}
.salir:hover{
    background: red;
}
.enviar{
    text-decoration: none;
    background: #0f4471;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-size: 16px;
    font-family: 'arial';
    }
    .enviar:hover{
        background: red;
    }
