.formularioregis {
    background-image: url(.img/upt.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6rem;
    gap: 10rem;
}


.imagen{
    width: 350px;

}
.registro {
    max-width: 400px;
    background: #f6f6f6;
    padding: 30px;
    border-radius: 4px;
    font-family: 'arial';
    color: #083358;
    font-size: 18px;
    box-shadow: 7px 13px 37px #808080;

}


.registro h4{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.controles{
    width: 100%;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #276e90;
    font-family: 'arial';
 
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}

.registro a{
    color: #083358;
    text-decoration: none;
}

.registro a:hover {
    color: red;
    text-decoration: underline;
    }

.registro .boton{
    width: 100%;
    height: 50px;
    border: 1px solid #B5B2B2;
    background: #0f4471 ;
    font-size: 19px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 16px 0;
}

/* Estilos para el tooltip */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    font-size: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    transform: translateX(-20%); 
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


@media only screen and (max-width: 900px) {
    .imagen{
    display: none;

    }
    
}
   